html{
    background-color:#262626;
    max-width: 1200px;
    margin: 0 auto;
    max-height: 900px;
}
body{
    background-color: #da4357;
    padding: 2em;
}
header{
    padding: 1em 2em;
    text-align: center;
  
}
header h1{
    border: 3px dashed white;
    padding: 1em;
    font-family: cursive;
    background-color:#262626;
    color: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,1);
}
nav{
    background-color: #262626;
    padding: 1.5em;
    width: 80%;
    margin: 0 auto;
}
nav a {
    text-decoration: none;
    color: #fff;
    padding-right: 5em;
    padding: 1.5em;
}
nav a:hover{
    background-color: #da4357;
    color: rgb(230, 206, 175);
}
.current{
    background-color:#da4357;
    color: rgb(230, 206, 175);
}
main{
  background: #da4357;
    width: 95%;
    margin: 0 auto;
    text-align: center;
    padding-top;: 2em;
    padding-bottom: 1em;
} 
.gallery{
    margin: 10px 10px;
    background-color: gray;
    padding: 1em;
}
.gallery img{
    width: 230px;
    padding: 5px;
    transition: all 2s ease-in-out;
}
.gallery img:hover{
    transform: scale(2.2);
}
/* section{
    background-color: gray;
    width: 75;
   
}
section img{
    margin: 0  auto;
    text-align: center;
} */
footer{
    text-align: center;
    display: block;
   
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 2px dashed beige;
    width: 95%;
    margin: 0 auto;
}